<!DOCTYPE html>
<html ng-app="register">
<head>
    <meta charset="utf-8"/>
    <title>HTC CAS User Registration</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{framework/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/cas.css}"/>
    <script type="text/javascript" th:src="@{framework/jquery/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{framework/bootstrap/js/bootstrap.js}"></script>
</head>
<body ng-controller="registerController">
<div id="cas" class="container">
    <header>
        <a id="logo" href="http://htcinc.com">HTC Global Services Inc</a>
        <h1>HTC ReCAP CAS</h1>
    </header>
    <div class="box" id="login">
        <div class="login-header">
            <h2>Register</h2>
            <span class="fa-stack fa-2x hidden-xs">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
        </span>
        </div>

        <div class="col-sm-8 col-sm-offset-2">
            <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }"
                 ng-if="flash" ng-bind="flash.message"></div>
            <div class="col-md-6 col-md-offset-3">
                <form name="form" ng-submit="register()" role="form">
                    <div class="form-group"
                         ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
                        <label for="username">First name</label>
                        <input type="text" name="firstName" id="firstName" class="form-control"
                               ng-model="user.firstName" required ng-disabled="done"/>
                        <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
                        <label for="username">Last name</label>
                        <input type="text" name="lastName" id="Text1" class="form-control" ng-model="user.lastName"
                               required ng-disabled="done"/>
                        <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                        <label for="email">email</label>
                        <input type="text" name="email" id="email" class="form-control" ng-model="user.email" required
                               ng-disabled="done"/>
                        <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" class="form-control" ng-model="user.username"
                               required ng-disabled="done"/>
                        <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" class="form-control"
                               ng-model="user.password" required ng-disabled="done"/>
                        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                    </div>
                    <div class="form-actions">
                        <button type="submit" ng-disabled="form.$invalid || dataLoading || done"
                                class="btn btn-primary">Register
                        </button>
                        <img ng-if="dataLoading"
                             src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                        <a href="#!/login" class="btn btn-link">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<script src="framework/jquery/js/jquery.js"></script>
<script src="framework/angular/js/angular.js"></script>
<script src="framework/angular/js/angular-route.js"></script>
<script src="framework/angular/js/angular-cookies.min.js"></script>
<script src="js/register.controller.js"></script>
<script src="js/recapApp-service.js"></script>
</body>
</html>